@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "Custom_Fonts.scss";

$primary-color: #faaf79;
$secondary-color: #fb944a;
$background-grad: linear-gradient(45deg, #ffe7c9, #fef0de);
$box-radius: 15px;
$order-background-grad: linear-gradient(0deg, #31343f 0%, #282a33 40%);

$order-primary-color: #282a33;
$quantity-grad: linear-gradient(0deg, #f98e47 0%, #faaf79 100%);
$order-width: 484px;
$content-gap: 20px;

.debug {
  font-size: 24px;
}

body {
  font-family: "TT-Hoves", "Jokerman", sans-serif;
  background: $background-grad;
  color: $order-primary-color;
  font-size: 16px;
  padding: 0px;
  margin: 0px;

  overflow-x: hidden;
}

h1 {
  font-size: 54px;
  font-weight: 800;
  color: #ffffff;
  margin: 0px;
  letter-spacing: 2px;
}

h2 {
  font-size: 64px;
  font-weight: 800;

  font-family: "TT-Interfaces", "Jokerman", sans-serif;
  color: $order-primary-color;
  margin: 0px;

  letter-spacing: 3px;
}

h3 {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;

  letter-spacing: 2px;
}

h4 {
  display: inline;
  font-size: 26px;
  margin-right: 4px;
  font-weight: 500;
}

h5 {
  font-size: 48px;
  margin: 0px;
  font-weight: 800;
  background: $quantity-grad;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h6 {
  white-space: nowrap;
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
}

.default {
  display: flex;
  direction: row-reverse;
  background-image: url("/Image/Wave.png");
  background-repeat: no-repeat;
}

.main {
  // background-color: blue;
  height: 100vh;
  margin: 36px;
  flex: 7;

  display: flex;
  flex-direction: column;
  gap: $content-gap;
}

.space {
  height: 100vh;
  min-width: 404px;
  width: $order-width + 20px;
  // background-color: #ff4141;

  flex: 2.625;
}

.search-box {
  width: 560px;
  height: 60px;

  background-color: #f8f8f8;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  outline: none;

  padding: 0px 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
  }

  input {
    flex: 1;
    border: none;
    background: none;
    outline: none;

    color: #ababab;
    font-size: 16px;
    font-weight: 500;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  .ticket {
    width: 820px;
    height: 470px;
    background-image: url("/Icon/Ticket.png");
    background-repeat: no-repeat;

    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    font-family: "TT-Interfaces", "Jokerman", sans-serif;

    h1 {
      font-size: 72px;
      font-weight: 900;
      color: #ffffff;
      letter-spacing: 2px;
    }

    h3 {
      font-size: 200px;
      font-weight: 900;
      color: #ffffff;
      letter-spacing: 15px;
    }

    h2 {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 10px;
    }
  }
}

.order {
  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -36px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-info {
    position: relative;
    width: 450px;
    height: auto;
    background: #282a33;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .close {
      position: absolute;
      top: -20px;
      right: -20px;

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background: #ff4141;
        cursor: pointer;
      }

      img {
        margin-top: 5px;
        width: 55%;
        height: 45%;
      }
    }

    img {
      width: 100%;
    }

    h3 {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 34px;
        font-weight: 800;
        background: $quantity-grad;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &-datetime {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &-list {
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      h3,
      h5 {
        font-size: 24px;
      }
    }
  }
}

.not-found {
  h3 {
    font-size: 34px;
    span {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }
}
