@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Thin.otf");
    font-weight: 100; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves ExtraLight.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Light.otf");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves DemiBold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Bold.otf");
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves ExtraBold.otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "TT-Hoves";
    src: url("/Fonts/TT Hoves/TT Hoves Black.otf");
    font-weight: 900; 
    font-style: normal;
}

// ------------------------------------------------------------ //

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Thin.otf");
    font-weight: 100; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Extra Light.otf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Light.otf");
    font-weight: 300; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Bold.otf");
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Extra Bold.otf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "TT-Interfaces";
    src: url("/Fonts/TT Interfaces/TT Interfaces Black.otf");
    font-weight: 900; 
    font-style: normal;
}
