@import "App.scss";

$order-offset: 20px;
$order-padding: 19px;
$text-padding: 10px;

.order {
  height: calc(100vh - $order-offset);
  min-height: 520px;
  max-height: 1280px;
  max-width: $order-width;

  position: fixed;
  right: 0px;
  margin: 10px ($order-offset - 10px);

  background: $order-background-grad;
  border-radius: $box-radius;

  display: flex;
  flex-direction: column;

  h1 {
    margin: $order-padding;
    text-align: left;
  }

  .empty-cart {
    font-size: 48px;
    color: #3b3e4c;
    margin: 0px;
    font-weight: 700;

    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
  }

  &-items {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 0px $order-padding;
    gap: 8px;
  }

  &-item {
    width: auto;
    padding: 20px;
    background-color: #25262b;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    .order-header {
      span {
        font-size: 24px;
        color: #6f6f6f;
        margin: 0px;
        font-weight: 700;
      }
    }

    .order-quantity {
      display: flex;
      align-items: baseline;
    }
  }
}

.footer {
  margin: $order-padding;
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    width: 100%;
    height: auto;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    span {
      color: #ffffff;
      font-weight: 900;
      font-size: 48px;
      margin: 0px;
    }

    * {
      display: flex;
      align-items: center;
    }
  }

  .note {
    background-color: #363944;
    border-radius: 10px;
    padding: $text-padding;
    width: calc(100% - 2 * $text-padding);
    height: 50px;

    color: #b8b8b8;
    font-size: 15px;
    font-weight: 700;
  }

  .buttons {
    display: flex;
    gap: 20px;
    height: 64px;

    button {
      border: none;
      border-radius: 15px;
      height: auto;
      cursor: pointer;
    }

    &-confirm {
      flex: 1;
      background: $quantity-grad;

      font-size: 24px;
      font-weight: 600;
      color: #ffffff;
    }

    &-cancel {
      background-color: #232429;
      width: 64px;
      img {
        margin-top: 4px;
        width: 27px;
        height: 27px;
      }
    }
  }
}
