.tag-container {
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 40px;

  img {
    margin-left: 10px;
    height: 16px;
    width: 16px;
  }

  span {
    font-size: 11px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 40px;
    padding: 0px;
    margin-right: 14px;
  }
}
