@import "./Order_Card.scss";

.order-buttons {
  width: auto;
  height: auto;

  display: flex;
  gap: 8px;
  padding: 8px;

  button {
    width: auto;
    height: auto;
    padding: 10px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    background: $button-grad;

    color: white;
    font-size: 16px;
    font-weight: 600;

    img {
      width: 21px;
      height: 21px;
    }

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
