.order-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .order-button-primary {
    flex-grow: 7;
  }

  .order-button-secondary {
    flex-grow: 2;
    background-color: white;
  }
}

button {
  border-radius: 6px;
  border: none;
  height: 40px;
  cursor: pointer;

  color: white;
  font-size: 16px;
  font-weight: 600;
}
